<div class="fw-bold p-3" id="alert-bar">
    <span>Kite Status Alert: {{ date }} {{ message }}</span> 
    <span class="">&nbsp;See the <a href="/kite">Kite Status</a> page for details.</span>
</div>
